.view {
  background: url('~img/1_ee9Ji2ToUxeYfj3YUQ1xsA.jpeg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  z-index: 1;
}

h2 {
  font-size: 7vw;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
  color: azure;
}


