<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-stylish-strong flex-center">
            <div class="container">
                <div class="white-text wow fadeInUp text-center">
                    <h2 class="text-uppercase font-weight-bold">{{ title }}</h2>
                    <h3 class="text-uppercase font-weight-bold font-italic">{{ subTitle }}</h3>
                </div>
                <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">-->
                    <!--<app-modal-login></app-modal-login>-->
                <!--</div>-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-items">
                    <app-modal-sign-up></app-modal-sign-up>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <app-modal-login></app-modal-login>
                </div>
            </div>
        </div>
    </div>
</div>
