.timeLineBox {
    height: 150px;
    align-items: center;
    overflow: auto;
    text-align: center;
}

.line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    z-index: -1;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    padding: 5%;
    margin: 15px;
    background: #cfcfcf;
    font-size: 10px;
    font-weight: bold;
    line-height: 0;
    color: #fff;
}

.task-number {
    font-size: 27px;
    font-weight: bold;
}

.task-active {
    width: 79px;
    height: 79px;
    background-color: #4acde3;
}

.task-old {
    background-color: rgb(243, 243, 158);
}

// .lessonDate {
//     color: #fff;
//     font-size: 10px;
//     font-weight: bold;
// }
