<div class="timeLineBox d-flex">

    <div *ngFor="let task of tasks; let i = index">
        <div (click)="onSelect(task, $event)"
                [ngClass]="{
                    'task': true,
                    'hoverable': true,
                    'task-old': isOldTask(task),
                    'task-active': task === selectedTask
                }">
                <div class="task-name">{{'lesson'| uppercase}}</div>
                <div class="task-number">{{(i+1).toString().padStart(2, '0')}}</div>
                <div class="lessonDate">{{task.date}}</div>

        </div>
        <!-- <div class="lessonDate">{{task.date}}</div> -->
    </div>
    <div class="line"></div>

</div>

<div *ngIf="selectedTask">
    <app-tabs [selectedTask]="selectedTask"></app-tabs>
</div>
