<div>
    <div *ngIf="selectedTask">
        <h1>{{selectedTask.lectureTitle}} Homework</h1>
        <p>{{selectedTask.description}}</p>
    </div>

    <button class="btn btn-primary mb-3 hw-button">
        <a target="_blank" href="https://drive.google.com/file/d/1bqclJ0NPnur_WuJqRmP4CuxZ_4ZbYxDd/view">
            Download Homework
        </a>
    </button>
    <hr>
    <form class="form-inline">
        <div class="input-div"><input type="text" class="form-control hw-input" name="link"
                                      placeholder="Link to your homework" [(ngModel)]="HWlink"></div>

        <div>
            <button type="submit" (click)="setLocalStorage(); changeBtnText()" [ngStyle]="{'background-color': backgroundColor }" class="btn mb-2 hw-button">{{ text }}</button>
        </div>
    </form>
</div>
