.side-bar {
    flex: none;
}

.row {
    flex-wrap: nowrap;
}

.side-nav-closed {

    transform: translateX(-100%);
    transition: all .7s;
        display: none;
}

.side-nav-open {
    transform: translateX(0%);
    transition: all .7s;
    display: block;
}

a.btn {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    margin: 0;
}
