// .group-block-wrapper {
//     height: 90%;
//     background-color: #f0f2f5;
// }

.side-bar {
    // transition: all .7s;
    // padding: 0;
    flex: none;
}

.row {
    flex-wrap: nowrap;
}

.side-nav-closed {

    transform: translateX(-100%);
    // visibility: collapse;
    transition: all .7s;
        display: none;
}

.side-nav-open {
    transform: translateX(0%);
    // visibility: visible;
    transition: all .7s;

    display: block;
}

a.btn {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    margin: 0;
}
