<div class="h-100">
    <div class="group-name-block sidebar-block">
      <!-- <a [routerLink]="['/groups']"><img class="group-name-arrow"  src="/assets/arrow-point-to-right.png" alt="arrow-left"></a> -->
      <p class="group-name-paragraph">Group Name JS</p>
      <img class="group-name-logo" src="/assets/JS.png" alt="js-logo">
    </div>
    <div class="participants-block sidebar-block">
      <p class="participants-header">PARTICIPANTS</p>
      <div class="curator-block">
        <div class="user-card curator">
          <div class="student-block-main" (click)="select(curator.name)">
            <div class="curator-block-left block-left">
              <img class="curator-logo partisipants-logo" src="/assets/student_icon.png" alt="curator-logo">
              <div class="curator-info">
                <p class="curator-name">{{curator.name}}</p>
                <span class="curator-prof profession">curator</span>
              </div>
            </div>
            <img class="curator-else-button else-button"  [ngClass]="isActiveDots(curator.name)" src="/assets/dots icon.png" alt="else button">
          </div>
          <div class="student-info-buttons" [ngClass]="isActive(curator.name)">
            <a href="#">Email</a>
            <a href="#">GitHub</a>
          </div>
        </div>
      </div>

      <div class="students-block">
        <div *ngIf="!addUsersModeActive">
          <div *ngIf="currentUser.isAdmin" (click)=addUsers() class="manage-group">
            <div class="manage-block">
              <img class="group-manage-icon" src="/assets/group.png" alt="group-manage-icon">
              <p class="group-manage-title">Manage users</p>
            </div>

          </div>
          <hr>

          <div class="user-card studets" *ngFor="let user of students">
            <div class="student-block-main" (click)="select(user)">
              <div class="student-block-left block-left">
                <img class="student-logo partisipants-logo" src="/assets/student_icon.png" alt="student-logo">
                <p class="student-name">{{user.name}}</p>
              </div>
              <img class="student-else-button else-button" [ngClass]="isActiveDots(user)" src="/assets/dots icon.png" alt="else button">
            </div>
            <div class="student-info-buttons" [ngClass]="isActive(user)">
              <a href="#">Email</a>
              <a href="#">GitHub</a>
            </div>
          </div>
        </div>

        <div *ngIf="addUsersModeActive">
          <div class="md-form user-card studets">
            <input id="search-by-name" type="text" [(ngModel)]="searchUser" class="form-control" placeholder="search by name">
          </div>

        <div class="user-card studets" *ngFor="let user of potentialStudents | search:searchUser">
            <div class="student-block-main" (click)="toggleUser(user)">
                <div class="student-block-left block-left">
                  <img class="student-logo partisipants-logo" src="/assets/student_icon.png" alt="student-logo">
                  <p class="student-name">{{user.name}}</p>
                </div>
                <div class="student-else-button else-button">
                  <input type="checkbox" [checked]="user.groupId">
                </div>
          </div>
        </div>

        <div class="user-card studets">
          <button class="close-btn" (click)=showUsers()>Close</button>
        </div>

      </div>




      </div>
    </div>
  </div>
