<div class="container-fluid p-0 h-100">
    <app-modal-add-group></app-modal-add-group>
    <div class="container" *ngIf="currentUser.groupId">
        <h1  class="mb-5 font-weight-bold ml-2">Select group</h1>
        <div class="row align-content-space-evenly justify-content-around justify-content-sm-start m-0">
            <div class="col-12 col-md-4 col-lg-3 mb-4 p-2" *ngFor="let group of groups">
                <div class="card">
                    <a [routerLink]="['/groups', group.id]">
                        <div class="img-wrapper p-2">
                            <img class="card-img-top w-100" src="/assets/{{group.img}}" alt="Group image">
                        </div>
                    </a>
                    <div class="card-body p-2">
                        <p class="card-text text-center"><a [routerLink]="['/groups', group.id]"> {{group.name}} </a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- button for adding new group-->
            <div *ngIf="currentUser.isAdmin" class="btn-add col-12 col-md-4 col-lg-3 p-2 mb-4" data-toggle="modal" data-target="#modalAddGroup">
                <div class="card h-100">
                    <div class="btn-img h-100"></div>
                    <div class="card-body p-2">
                        <p class="card-text text-center">Enter name ...</p>
                    </div>
                </div>
            </div>
            <app-modal-add-group></app-modal-add-group>

        </div>
    </div>
    <div *ngIf="!currentUser.groupId" class="container">
        <div class="message">
            <p>Wait to be added to a group, please :)</p>
        </div>
    </div>
</div>
