$hoverColor: #2ec2da;
$borderColor: #a7a7a7;
$textColor: #3e3e3e;
$bgColor: #f0f2f5;

@media (max-width: 767.98px) {
  .card {
    .card-text {
      font-size: 1.5rem;
    }
  }

  .btn-add {
    min-height: 200px;

    .btn-img {
      border-radius: 50%;
      width: 50%;
      align-self: flex-end;
    }

    .card-body {
      display: none;
    }
  }
}

.container-fluid {
  background-color: $bgColor;
}

.container {
  padding: 5% 10%;
}

.card {
  box-shadow: none;
  border-radius: unset;
  background-color: transparent;
}

.card:hover {
  cursor: pointer;

  & .img-wrapper {
    border-color: $hoverColor;
  }

  & a {
    color: $hoverColor;
  }
}

.img-wrapper {
  background-color: #fff;
  border: 1px solid $borderColor;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18);
}

.card-text > a {
  color: $textColor;
}

h2 {
  color: $textColor;
}

.btn-add {

  .btn-img {
    background: #fff url("../../assets/icon-plus.png") no-repeat center center;
    border: 1px solid $borderColor;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18);
  }

  .card-text {
    color: $borderColor;
    text-transform: uppercase;
  }
}

.btn-add:hover {
  border-color: $hoverColor;

  .btn-img {
    background: #fff url("../../assets/icon-plus-active.png") no-repeat center;
    border-color: $hoverColor;
  }

  .card-text {
    color: $hoverColor;
  }
}
