button {
  outline: none;
}

#register-button{
  width: 250px;
  height: 60px;
  background-color: #4fcbdb;
  font-size: 20px;
  font-weight: bold;
}

.modal-dialog .modal-content {
  text-align: initial;
}

